

<div class="container bg-light py-5">
    <h1 class="dispaly-5 fw-bold">Welcome to AngularQuiz...</h1>
    <p class="col-md-8 fs-4">This Quiz contains total 10 Questions. Each questions holds 10 points.</p>

    <h4>Rules:</h4>
    <ol>
        <li>Correct answer gives you 10 points</li>
        <li>Incorrect answer gives you -10 points</li>
        <li>You will have 60 sec for each question</li>
        <li>Refreshing the page will reset the quiz</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center;">All the best..!</h1>
    <div class="name col-sm-4 my-3">
        <input [(ngModel)]="inputValue" (ngModelChange)="onInputChange()" #userName type="text" placeholder="Enter your name" class="form-control">
    </div>

    <button type="button" [disabled]="!inputValue" class="btn btn-primary btn-sm" routerLink="/question" (click)="startQuiz()">Start Quiz</button>

</div>


